// Global Vars

$body_font:         'Roboto';
$heading_font:      'Nunito Sans';
$body_font_size:    15px;

$gradient_color_1:  #F47422;
$gradient_color_2:  #F4A022;
$text_color:        #333333;
$text_color_light1: #666666;
$text_color_light2: #888888;
$border_color:      #E0E0E0;
$bg_color:          #F0F0F0;

$border_radius:     4px;
$border_radius_m:   6px;
$border_radius_l:   12px;
