* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";     
}

.feature_container {
    width: 1155px;
    overflow: auto;
    margin: auto;
}

/* Feature item - Large */

.feature_item {
    width: 693px;
    position: relative;
    float: left;
    padding: 5px;
}

.feature_item img {
    width: 100%;
    height: auto;
}

.feature_item h3 {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 53px;
    margin: 0;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    /* or 125% */   
}

.feature_item h3 a {
    color: white;
    text-decoration: none;
}

.meta_link {
    position: absolute;    
    left: 30px;
    right: 30px;
    bottom: 20px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 24px;
}

.meta_link a {
    color: #FFFFFF;
    text-decoration: none;
}

.comment, .shared {
    float: right;
    padding: 0 10px;
}


.category {
    position: absolute;
    left: 30px;
    top: 30px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 24px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;   
    
}
.category span:first-child {            
    display: inline-block;
    background-color: rgba(208,0,0,1);
    padding: 0px 10px;    
}
.category span:last-child {
    position: absolute;    
    right: -10px;
    display: inline-block;    
    height: 0;
    width: 0;    
    border-left: solid 10px rgba(208,0,0,1);    
    border-bottom: solid 24px transparent;
}

.category:hover span:first-child {
    background-color: rgba(208,0,0,.5);
    transition: 0.5s;
}

.category:hover span:last-child {
    border-left: solid 10px rgba(208,0,0,0.5);    
    transition: 0.5s;
}

/* Feature Item - Small */
.feature_item.small {
    width: 231px;
}

.small .category {
    left: 10px;
    top: 10px;
}

.feature_item.small h3 {
    font-size: 11.2px;
    line-height: 16px;

    left: 10px;
    right: 10px;
    bottom: 10px;
}

